
body { font-family:Arial, sans-serif;
     line-height: 1.6;
      padding: 20px; 
    }


#userProfile { max-width:400px; 
     margin: 0 auto;
      padding: 20px; 
      border: 1px solid #ddd;
       border-radius: 5px;
     }


img { max-width: 100%;
     border-radius: 50%; 
    }


.letsgrid{
     display: flex;
   
}
